@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: relative;
}

div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
}

a,
p,
label, ::placeholder, input {
  font-family: "Roboto", serif;
}

p,
label {
  font-size: 1.1rem;
}
.tag {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

a {
  font-size: 0.9rem;
}

.active {
  background: #f0f0f0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  position: relative;
  width: 100%;
  height: auto;
}
